.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-form {
    display: none;
  }
  body {
    background-color: #9DC08B;
    font-family: "Roboto", sans-serif;
  }
  .signup-box {
    width: 360px;
    height: 568px;
    margin: auto;
    background-color: #EDF1D6;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 345px;
    margin: auto;
    border-radius: 3px;
    background-color: #EDF1D6;
  }
  form {
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
 input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #40513B;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    width: 250px;
    height: 250px;
  }
.logocenter,#center{
    display: flex;
    justify-content: center;
  }
.toggle-btn{
  top: 0;
  left: 0;
  width: 112px;
  height: 10%;
  border-radius: 3px;
  border: none;
  background-color: #40513B;
  color: white;
  font-size: 14px;
}