*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EDF1D6;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #40513B;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 150px;
    align-content: center;
    text-align: center;
}
.socialContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    text-align: right;
}
/*TODOS LOS SIGUIENTES NAV SON PARA EL ESTILO DEL MENú,
El HOVER EN CADA OPCION*/
nav {
    background-color: #9DC08B;
    padding: 10px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav li {
    margin-right: 10px;
    border-radius: 10px;
    background-color: #9DC08B;
    padding: 5px 7px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 16px;
    position: relative;
}

nav li:hover {
    background-color: white;
    color: #9DC08B;
    border-style:solid; 
    border-width:1px; 
    border-color:#9DC08B; 
    box-shadow: 0px 0px 5px #9DC08B; 
    transition-duration: 0.4s; 
    transform: scale(1.1);
    z-index: 1; 
    position:relative; 
    top:-5px; 
    border-radius: 10px;

}
nav a{
    text-decoration: none;
    color:inherit;
    display: block;
    width: 100%;
    height: 100%;

}
 a:visited{
    text-decoration: none;
}
/*HASTA AQUI EL DISEÑO DEL MENU*/
main{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.persona { /*ESTO ES PARA LOS DIV DE LAS PERSONAS QUE TRABAJAMOS*/
    width: 250px;
    padding: 20px;
    margin: 10px;
    background-color: #9DC08B;
    border-radius: 10px;
    text-align: center;
}
.contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-tamano { /*ESTO ES PARA LAS IMAGENES DE LAS PERSONAS QUE TRABAJAMOS*/
    width: 175px;
    height: 200px;
}

.formContainer{
    background-color: #609966;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 30px 0px;
}

#confForm{
    gap: 20px;
}

#confForm img{
    width: 200px;
    height: auto;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    width: 25%;
    margin: 20px;
}

form label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input{
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}


.radioContainer label{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.formContainer button{
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background-color: #EDF1D6;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #40513B;
        text-align: center;
        color: white;
    margin-top: auto;
}
footer a{
    text-decoration: none;
    color:inherit;

}
.footerMenu{
    display: flex;
    gap: 10px;
    list-style: none;
}
/* Esto es para las referencias */
section table {
    margin: 0 auto;
    margin-top: 20px;
    border-spacing: 6px;
    margin-bottom: 20px;
}
h1{
    display: flex;
    justify-content: center;
}
    table td{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    }   
    
    table td:empty {
    border: none;
    background-color: transparent;
  }
    table a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    table a:hover,a:active{
    color: white;
    }
      
/*colores de la tabla DE REFERENCIAS*/
table td.NoMetales{
    background-color: rgb(215, 189, 226);
  }
table td.NoMetales:hover, td.NoMetales:active{
    background-color: #031FA2;
  }
table td.Halogenos{
    background-color: rgb(245, 183, 177);
}
table td.Halogenos:hover, td.Halogenos:active{
    background-color: #031FA2;
  }
table td.MetAlcalinos{
    background-color: rgb(236, 112, 99);
  }
  table td.MetAlcalinos:hover, td.MetAlcalinos:active{
    background-color: #031FA2;
  }
table td.Alcalinoterreos{
    background-color: rgb(249, 231, 159);
}
table td.Alcalinoterreos:hover, td.Alcalinoterreos:active{
    background-color: #031FA2;
  }

table td.Metales{
    background-color: rgb(244, 208, 63);
}
table td.Metales:hover, td.Metales:active{
    background-color: #031FA2;
  }
table td.Metaloides{
    background-color: rgb(43, 138, 40);
}
table td.Metaloides:hover, td.Metaloides:active{
    background-color: #031FA2;
  }
table td.GasesNobles{
    background-color: rgb(93, 173, 226);
}
table td.GasesNobles:hover, td.GasesNobles:active{
    background-color: #031FA2;
  }
table td.OtrosMetales{
    background-color: rgb(208, 236, 231);
}
table td.OtrosMetales:hover, td.OtrosMetales:active{
    background-color: #031FA2;
  }
 
  
  
  
